{% extends "main.html" %}
{% autoescape None %}

{% block body %}


<h1 class="page-header">Environmental Impact Statements</h1>
<h2 class="sub-header">Reports</h2>

<p>Showing: {{display_num}} reports (out of {{total_reports}})</p>
<p>Viewing: {{display_from+1}} to {% if display_from+display_num > total_hits %}{{total_hits}}{%else%}{{display_from + display_num}}{%end%}
	{%if total_hits > display_num %}
		{% if display_from == 0 or display_from < display_num %}
			<a href="?state={{q['s']}}&agency={{q['a']}}&date_from={{q['df']}}&date_to{{q['dt']}}&view={{display_from + display_num}}&display={{display_num}}">Next {{display_num}}</a>
		{% else %}
			<a href="?state={{q['s']}}&agency={{q['a']}}&date_from={{q['df']}}&date_to{{q['dt']}}&view={{display_from - display_num}}&display={{display_num}}">Previous {{display_num}}</a> {% if display_num < total_hits - display_from %}... <a href="?state={{q['s']}}&agency={{q['a']}}&date_from={{q['df']}}&date_to{{q['dt']}}&view={{display_from + display_num}}&display={{display_num}}">Next {{display_num}}</a>{%end%}
		{%end%}
	{%end%}
</p>

<div class="report-filters">
	<form class="form-inline" role="form">
		<button type="button" class="btn" id="clear-filters">Clear</button>
		<div class="form-group">
			<div class="input-group">
				<label for="filter-state" class="sr-only"></label>
				<select id="filter-state" name="state" class="form-control">
					<option value="">(Select State)</option>
					{% for s in state_abbrev_list %}
						<option value="{{s}}" {% if q['s'] == s %}selected{%end%}  >{{states[s]}}</option>
					{%end%}
				</select> 
			</div>
		</div>
		<div class="form-group">
			<div class="input-group">
				<label for="filter-agency" class="sr-only"></label>
				<select id="filter-agency" name="agency" class="form-control">
					<option value="">(Select Agency)</option>
					{% for a in agencies_abbrev_list %}
						<option value="{{a}}" {% if q['a'] == a %}selected{%end%}>{%if agencies[a] %}{{agencies[a]}}{%else%}{{a}}{%end%}</option>
					{%end%}
				</select> 
			</div>
		</div>
		<div class="form-group">
			<div class="input-group">
				<label for="filter-date-range-from" class="sr-only">From</label>
				<input type="text" class="form-control" id="filter-date-range-from" name="date_from" value="{{q['df']}}" placeholder="From">
			</div>
			<div class="input-group">
				<label for="filter-date-range-to" class="sr-only">To</label>
				<input type="text" class="form-control" id="filter-date-range-to" name="date_to" value="{{q['dt']}}" placeholder="To">
			</div>
		</div>
<!-- 		<div class="form-group">
			<div class="checkbox">
				<label>
					<input type="checkbox" name="final_eis_only"> Final Only
				</label>
			</div>
		</div> -->
		<button type="submit" class="btn btn-info">Filter</button>
	</form>
</div>

<div class="table-responsive">
<table class="table table-striped table-hover display" id="report-table">
	<thead>
	<tr>
		<th>#</th>
		<th>Date</th>
		<th>EIS Number</th>
		<th>Title</th>
		<th>Type</th>
	</tr>
	</thead>
	<tbody>
		{%for i, report in enumerate(reports) %}
			<tr>
				<td>{{display_from + i+1}}</td>
				<td data-order="{{report.federal_register_date.strftime("%s")}}">{{report.federal_register_date.strftime('%m/%d/%Y')}}</td>
				<td>{{report.eis_number}}</td>
				<td><a href="/{{report.eis_number}}/">{{report.title}}</a></td>
				<td>{{report.document_type}}</td>
			</tr>
		{%end %}
	</tbody>
</table>

</div>



{%end%}