{% extends "main.html" %}
{% autoescape None %}

{% block body %}


<h1 class="page-header">Environmental Impact Statements</h1>
<h2 class="sub-header">Reports</h2>
<form class="form-horizontal">
	<input type="text" class="form-control" id="search-reports" name="query" placeholder="Search...">
</form>
{% if reports %}
	<p>Found: {{len(reports)}} results</p>
	<p>Viewing: {{display_from}} to {{display_from + display_num - 1}}</p>
	{% if display_from == 1 %}
		<p><a href="/?view={{display_from + display_num}}&display={{display_num}}">Next {{display_num}}</a>
	{% else %}
		<a href="/?view={{display_from - display_num}}&display={{display_num}}">Previous {{display_num}}</a> ... <a href="/?view={{display_from + display_num}}&display={{display_num}}">Next {{display_num}}</a></p>
	{%end%}

<div class="table-responsive">
<table class="table table-striped table-hover">
	<thead>
	<tr>
		<th>#</th>
		<th>Date</th>
		<th>EIS Number</th>
		<th>Title</th>
	</tr>
	</thead>
	<tbody>
		{%for i, report in enumerate(reports) %}
			<tr>
				<td>{{display_from + i}}</td>
				<td>{{report.date_uploaded.strftime('%m/%d/%Y')}}</td>
				<td>{{report.eis_number}}</td>
				<td><a href="/{{report.eis_number}}/">{{report.title}}</a></td>
			</tr>
		{%end %}
	</tbody>
</table>

</div>

{%else%}
<h2>No resulrs found</h2>
{%end%}

{%end%}